# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
.venv/
venv/

# Environment variables
.env

# IDEs
.vscode/
.idea/

# macOS
.DS_Store

# Testing
.pytest_cache/

# Coverage
.coverage
htmlcov/

# Logs
*.log

# SQLite
*.db

# Bytecode
**/__pycache__/

# Dependencies
node_modules/
**/node_modules/
